In [402]:
#import libraries

import pandas as pd
import requests
import credentials
import time

from nltk.sentiment import SentimentIntensityAnalyzer

In [403]:
key = credentials.youtube

In [404]:
sentiment_analyzer = SentimentIntensityAnalyzer()

In [405]:
url_comments = f'https://youtube.googleapis.com/youtube/v3/commentThreads?part=snippet&maxResults=1000&videoId=k0f4KyujyVw&key={key}&order=relevance'
comment_api = requests.get(url_comments).json()

In [406]:
def get_values(comment) :
    senti = sentiment_analyzer.polarity_scores(comment)

    pos = senti['pos']
    neu = senti['neu']
    neg = senti['neg']

    return pos, neu, neg

In [407]:
def get_average(df) :
    main_df = df.groupby(['video_id']).mean().round(2)

    return main_df

In [408]:
def get_sentiment(df) :
    
    for comments in comment_api['items'] :
        video_id = 'k0f4KyujyVw'

        comment = comments['snippet']['topLevelComment']['snippet']['textDisplay']

        pos, neu, neg = get_values(comment)

        temp_df = pd.DataFrame({
            'video_id' : [video_id],
            'pos' : [pos],
            'neu' : [neu],
            'neg' : [neg]})

        df = pd.concat([df, temp_df], ignore_index=True)
        
    return df

In [409]:
df = pd.DataFrame(columns=['video_id','pos','neu','neg'])

main_df = get_sentiment(df)

In [410]:
main_df

       video_id    pos    neu    neg
0   k0f4KyujyVw  0.179  0.821  0.000
1   k0f4KyujyVw  0.186  0.603  0.211
2   k0f4KyujyVw  0.000  1.000  0.000
3   k0f4KyujyVw  0.000  0.682  0.318
4   k0f4KyujyVw  0.382  0.618  0.000
..          ...    ...    ...    ...
95  k0f4KyujyVw  0.522  0.478  0.000
96  k0f4KyujyVw  0.220  0.653  0.127
97  k0f4KyujyVw  0.554  0.446  0.000
98  k0f4KyujyVw  0.124  0.876  0.000
99  k0f4KyujyVw  0.385  0.615  0.000

[100 rows x 4 columns]